<header class="header">
  <div class="logo">
    <img
      src="{{ asset('images/logo.png') }}"
      alt="Logo Avengers"
      class="logo-img"
    />
  </div>
  <span class="headerh1"><h1>The Avengers</h1></span>
  <span class="headerh2"> <h2>Super-héros de vos loisirs</h2> </span>

  <nav class="nav">
    <ul>
      <li>
        <a href="{{ path('app_home') }}" class="Btn">
          {% include "partials/button.html.twig" %}
          <p class="text">Accueil</p>
        </a>
      </li>
      <li>
        <a href="{{ path('app_evenements') }}" class="Btn">
          {% include "partials/button.html.twig" %}
          <p class="text">Nos Evénements</p>
        </a>
      </li>
      <li>
        <a href="{{ path('app_escape_game') }}" class="Btn">
          {% include "partials/button.html.twig" %}
          <p class="text">Escape game</p>
        </a>
      </li>
      <li>
        <a href="{{ path('app_seminaire') }}" class="Btn">
          {% include "partials/button.html.twig" %}
          <p class="text">Séminaires</p>
        </a>
      </li>
      <li>
        <a href="{{ path('app_contact') }}" class="Btn">
          {% include "partials/button.html.twig" %}
          <p class="text">Nous contacter</p>
        </a>
      </li>
    </ul>
  </nav>
</header>
