{% extends 'base.html.twig' %} {% block body %} {% for entreprise in entreprises
%}
<div>
  <h4>{{ entreprise.nom }}</h4>
  <p>Nombre de personnes participantes : {{ entreprise.nbrPers }}</p>
  <img
    src="{{ vich_uploader_asset(entreprise) }}"
    alt="Logo de l'entreprise {{ entreprise.nom }}"
  />
  {% for seminaire in entreprise.seminaires %}
  <p>Participe au séminaire suivant : {{ seminaire.titre }}</p>
  {% endfor %}
</div>
{% endfor %} {% endblock %}
