{% extends 'base.html.twig' %}
{% block title %}Contactez-nous
{% endblock %}
{% block body %}
	{% for message in app.flashes('success') %}
		<div>
			{{ message }}
		</div>
	{% endfor %}
	<div id="background-form">
		{{ form_start(contactForm) }}
		{# Nom Field #}
		<div id="form-box">
			{{ form_label(contactForm.nom) }}
			{{ form_widget(contactForm.nom) }}

			{# Prenom field #}

			{{ form_label(contactForm.prenom) }}
			{{ form_widget(contactForm.prenom) }}

			{# Email field #}

			{{ form_label(contactForm.email) }}
			{{ form_widget(contactForm.email) }}

			{# Telephone field #}

			{{ form_label(contactForm.numTel) }}
			{{ form_widget(contactForm.numTel) }}

			{# Raison field #}

			{{ form_label(contactForm.raison) }}
			{{ form_widget(contactForm.raison, { attr: { class: "dropdown" } }) }}

			{# Message field #}

			{{ form_label(contactForm.message) }}
			{{ form_widget(contactForm.message) }}
			<button class="Btn" type="submit">
				{% include "partials/button.html.twig" %}
				<p class="text">Envoyer ?</p>
			</button>
		</div>
		{{ form_end(contactForm) }}
	</div>
	{% for infosContact in infosContacts %}
		<ul>
			<li class="list-group">{{ infosContact.adresse }}</li>
			<li class="list-group">{{ infosContact.telephone }}</li>
			<li class="list-group">{{ infosContact.adresseMail }}</li>
		</ul>

	{% endfor %}
{% endblock %}
