{% extends 'base.html.twig' %} {% block title %}Contactez-nous {% endblock %} {%
block body %}

<h2 class="strokeTexte text-center font-semibold text-5xl text-[#D1D1D1] mt-2">
  Formulaire de contact
</h2>
{# font-weight: 600; font-size: 40.7px; line-height: 49px; color: #D1D1D1;
border: 5px solid #F7060D; #} {% for message in app.flashes('success') %}
<div class="bg-green-500">
  {{ message }}
</div>
{% endfor %}
<div
  class="pt-12 flex flex-row-reverse justify-evenly items-center flex-wrap mb-14"
>
  <div id="background-form">
    {{ form_start(contactForm, { attr: { novalidate: "novalidate" } }) }}
    {# Nom Field #}
    <div id="form-box">
      {{
        form_label(contactForm.nom, null, {
          label_attr: {
            class: "ml-4 mt-4"
          }
        })
      }}
      {{
        form_widget(contactForm.nom, {
          attr: {
            class: "ml-4 w-50 h-8 rounded-lg pl-2 text-[#040606]"
          }
        })
      }}
      {% if form_errors(contactForm.nom) %}
      <span class="ml-4 mt-1"> {{ form_errors(contactForm.nom) }}</span>
      {% endif %} {# Prenom field #}
      {{
        form_label(contactForm.prenom, null, {
          label_attr: {
            class: "ml-4 mt-3"
          }
        })
      }}
      {{
        form_widget(contactForm.prenom, {
          attr: {
            class: "ml-4 w-50 h-8 rounded-lg pl-2 text-[#040606]"
          }
        })
      }}
      {% if form_errors(contactForm.prenom) %}
      <span class="ml-4 mt-1">{{ form_errors(contactForm.prenom) }}</span>
      {% endif %} {# Email field #}
      {{
        form_label(contactForm.email, null, {
          label_attr: {
            class: "ml-4 mt-3"
          }
        })
      }}
      {{
        form_widget(contactForm.email, {
          attr: {
            class: "ml-4 w-50 h-8 rounded-lg pl-2 text-[#040606]"
          }
        })
      }}
      {% if form_errors(contactForm.email) %}
      <span class="ml-4 mt-1">{{ form_errors(contactForm.email) }}</span>
      {% endif %} {# Telephone field #}

      {{
        form_label(contactForm.numTel, null, {
          label_attr: {
            class: "ml-4 mt-3"
          }
        })
      }}
      {{
        form_widget(contactForm.numTel, {
          attr: {
            class: "ml-4 w-50 h-8 rounded-lg pl-2 text-[#040606]"
          }
        })
      }}
      {% if form_errors(contactForm.numTel) %}
      <span class="ml-4 mt-1">{{ form_errors(contactForm.numTel) }}</span>
      {% endif %} {# Raison field #}
      {{
        form_label(contactForm.raison, null, {
          label_attr: {
            class: "ml-4 mt-3"
          }
        })
      }}
      {{
        form_widget(contactForm.raison, {
          attr: {
            class: "dropdown ml-4 w-50 h-8 rounded-lg pl-2 text-[#040606]"
          }
        })
      }}
      {% if form_errors(contactForm.raison) %}
      <span class="ml-4 mt-1">{{ form_errors(contactForm.raison) }}</span>
      {% endif %} {# Message field #}
      {{
        form_label(contactForm.message, null, {
          label_attr: {
            class: "ml-4 mt-3"
          }
        })
      }}
      {{
        form_widget(contactForm.message, {
          attr: {
            class:
              "rounded-lg text-[#040606] w-11/12 ml-4 pl-2 max-h-24 min-h-16"
          }
        })
      }}
      {% if form_errors(contactForm.message) %}
      <span class="ml-4 mt-1">{{ form_errors(contactForm.message) }}</span>
      {% endif %}

      <button class="Btn m-auto" type="submit">
        {% include "partials/button.html.twig" %}
        <p class="text">Envoyer ?</p>
      </button>
    </div>
    {{ form_end(contactForm) }}
  </div>
  {% for infosContact in infosContacts %}
  <div class="bgContact">
    <div class="contactRect">
      <ul class="flex flex-col h-[310px] justify-evenly">
        <li class="flex items-center">
          <span class="mx-8">
            <img
              src="{{ asset('images/addressLogo.png') }}"
              alt="Logo adresse"
            />
          </span>
          {{ infosContact.adresse }}
        </li>
        <li class="flex items-center">
          <span class="mx-8">
            <img
              src="{{ asset('images/phoneLogo.png') }}"
              alt="Logo téléphone"
            />
          </span>
          {{ infosContact.telephone }}
        </li>
        <li class="flex items-center">
          <span class="mx-8">
            <img src="{{ asset('images/mailLogo.png') }}" alt="Logo email" />
          </span>
          {{ infosContact.adresseMail }}
        </li>
      </ul>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock %}
